**/.DS_Store

# Directory to store the data
data

# Directory to store checkpoints
models

# tensorboard
**/runs

# latex stuff
*.aux
*.fls
*.log
*.fdb_latexmk
*.synctex*
*.out

# notebooks output
notebooks/images

# python stuff
*.pyc